<div class="px-1 flex flex-col">
  <div>
    <%= availabilities.first.week_day %>
  </div>
  <div>
    <%= (availabilities.first.start.to_datetime + full_offset).strftime('%m/%d') %>
  </div>
  <% availabilities.each_with_index do |availability, index| %>
    <% start = availability.start.to_datetime + full_offset %>
    <% stop = availability.stop.to_datetime + full_offset %>
    <div>
      <% daily_slots(start, stop).each do |sss| %>
        <%= single_slot(sss) %>
      <% end %>
      <% if index + 1 < availabilities.count %>
        <div class="w-full bg-blue-200 text-white font-bold my-1 px-4 rounded cursor-not-allowed">---</div>
      <% end %>
    </div>
  <% end %>
</div>
